In [49]:
## Creating HTML out of dataframe
import pandas as pd
df = pd.read_csv('Resources/data_covid.csv')
#df['Fecha'] = pd.to_datetime(df['Fecha']).dt.date
df.head()

    Clave   Fecha  Casos positivos
0  05-011  200630                6
1  05-011  200903                8
2  05-011  200904                8
3  05-011  200905                7
4  05-011  200906                7

In [45]:
df['Fecha'].unique()

array([datetime.date(1970, 1, 1)], dtype=object)

In [51]:
df = df.groupby(['Fecha'])['Casos positivos'].mean().to_frame()
df

        Casos positivos
Fecha
200629         9.850679
200630         9.796610
200701         9.836449
200702        10.164502
200703        10.190114
...                 ...
201230        27.597711
201231        27.680248
210101        27.735004
210102        26.912442
210103        25.232824

[184 rows x 1 columns]

In [52]:
df.to_html('dataframe.html')